{% load i18n admin_urls admin_extras %}
{% if site_url %}
  <a href="{{ site_url }}">{% trans 'View site' %}</a> /
{% endif %}
{% if user.is_active and user.is_staff %}
  {% url 'django-admindocs-docroot' as docsroot %}
  {% if docsroot %}
    <a href="{{ docsroot }}">{% trans 'Docs' %}</a> /
  {% endif %}
  <a href="{% url 'certs-trust' %}">{% trans 'Trust' %}</a> /
  {% if user.pk %}
    {% admin_profile_url user as profile_url %}
    {% if profile_url %}
      <a href="{{ profile_url }}">{% firstof user.get_full_name user.get_username %}</a> /
    {% endif %}
  {% endif %}
{% endif %}
{% if user.has_usable_password %}
  <a href="{% url 'admin:password_change' %}">{% trans 'Password' %}</a> /
{% endif %}
<form id="logout-form" method="post" action="{% url 'admin:logout' %}" style="display: inline;">
  {% csrf_token %}
  <button type="submit">{% trans 'Log out' %}</button>
</form>
{% include "admin/color_theme_toggle.html" %}
