{% extends "django_object_actions/change_list.html" %}
{% load i18n %}

{% block object-tools-items %}
    {% block import_export_buttons %}
        {% include "admin/includes/import_export_buttons.html" %}
    {% endblock %}
    {% if soft_deleted_url %}
        {% if soft_deleted_count %}
            {% blocktrans count count=soft_deleted_count asvar soft_deleted_label %}
                View deleted ({{ count }})
            {% plural %}
                View deleted ({{ count }})
            {% endblocktrans %}
        {% else %}
            {% trans "View deleted" as soft_deleted_label %}
        {% endif %}
        <li>
            <a href="{{ soft_deleted_url }}" class="historylink" title="{{ soft_deleted_label }}" aria-label="{{ soft_deleted_label }}">
                <span aria-hidden="true">HIST</span>
                <span class="visually-hidden">{{ soft_deleted_label }}</span>
            </a>
        </li>
    {% endif %}
    {{ block.super }}
{% endblock %}
