{% extends "admin/base_site.html" %}
{% load i18n form_extras %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  &rsaquo; <a href="{% url 'admin:app_list' app_label %}">{{ app_label|capfirst }}</a>
  &rsaquo; <a href="{% url 'admin:'|add:opts.app_label|add:'_'|add:opts.model_name|add:'_changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
  &rsaquo; {% trans 'Permissions' %}
</div>
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<form method="post" novalidate>
  {% csrf_token %}
  <table class="permission-matrix">
    <thead>
      <tr>
        <th>{% trans 'Permission' %}</th>
        <th>{% trans 'Users' %}</th>
        <th>{% trans 'Security groups' %}</th>
        <th>{% trans 'Public' %}</th>
      </tr>
    </thead>
    <tbody>
    {% for code, name in perm_choices %}
    <tr>
      <th>{{ name }}</th>
      {% with 'user_'|add:code as field_name %}{% with form|get_field:field_name as field %}
      <td>{{ field }}</td>
      {% endwith %}{% endwith %}
      {% with 'group_'|add:code as field_name %}{% with form|get_field:field_name as field %}
      <td>{{ field }}</td>
      {% endwith %}{% endwith %}
      {% with 'public_'|add:code as field_name %}{% with form|get_field:field_name as field %}
      <td>{{ field }}</td>
      {% endwith %}{% endwith %}
    </tr>
    {% endfor %}
    </tbody>
  </table>
  <div class="submit-row"><input type="submit" value="{% trans 'Save' %}" class="default"></div>
</form>
{% endblock %}
