{% extends "admin/base_site.html" %}
{% load i18n form_extras %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  &rsaquo; <a href="{% url 'admin:app_list' app_label %}">{{ app_label|capfirst }}</a>
  &rsaquo; <a href="{% url 'admin:'|add:opts.app_label|add:'_'|add:opts.model_name|add:'_changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
  &rsaquo; {% trans 'Permissions' %}
</div>
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<form method="post" novalidate>
  {% csrf_token %}
  <fieldset>
    <legend>{% trans 'Users' %}</legend>
    {% for code, name in perm_choices %}
    {% with 'user_'|add:code as field_name %}
    {% with form|get_field:field_name as field %}
    <div class="form-row">
      {{ form[field_name].label_tag }}
      {{ form[field_name] }}
    </div>
    {% endwith %}
    {% endfor %}
  </fieldset>
  <fieldset>
    <legend>{% trans 'Security groups' %}</legend>
    {% for code, name in perm_choices %}
    {% with 'group_'|add:code as field_name %}
    {% with form|get_field:field_name as field %}
    <div class="form-row">
      {{ form[field_name].label_tag }}
      {{ form[field_name] }}
    </div>
    {% endwith %}
    {% endfor %}
  </fieldset>
  <div class="submit-row"><input type="submit" value="{% trans 'Save' %}" class="default"></div>
</form>
{% endblock %}
