{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  &rsaquo; <a href="{% url 'admin:app_list' app_label %}">{{ app_label|capfirst }}</a>
  &rsaquo; <a href="{% url 'admin:%s_%s_changelist' opts.app_label opts.model_name %}">{{ opts.verbose_name_plural|capfirst }}</a>
  &rsaquo; {% trans 'Permissions' %}
</div>
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<form method="post" novalidate>
  {% csrf_token %}
  <fieldset>
    <legend>{% trans 'Users' %}</legend>
    {% for code, name in perm_choices %}
    {% with 'user_'|add:code as field_name %}
    {% with form[field_name] as field %}
    <div class="form-row">
      {{ field.label_tag }}
      {{ field }}
    </div>
    {% endwith %}
    {% endwith %}
    {% endfor %}
  </fieldset>
  <fieldset>
    <legend>{% trans 'Security groups' %}</legend>
    {% for code, name in perm_choices %}
    {% with 'group_'|add:code as field_name %}
    {% with form[field_name] as field %}
    <div class="form-row">
      {{ field.label_tag }}
      {{ field }}
    </div>
    {% endwith %}
    {% endwith %}
    {% endfor %}
  </fieldset>
  <div class="submit-row"><input type="submit" value="{% trans 'Save' %}" class="default"></div>
</form>
{% endblock %}
