[Interface]
Address = {{ network_constellation_address }}
ListenPort = {{ network_constellation_port }}
{% if network_constellation_dns %}DNS = {{ network_constellation_dns | join(', ') }}
{% endif %}PrivateKey = {{ network_constellation_private_key }}
SaveConfig = {{ 'true' if network_constellation_save_config else 'false' }}

{% for peer in network_constellation_peers %}
[Peer]
PublicKey = {{ peer.public_key | default('') }}
{% if peer.allowed_ips is defined and peer.allowed_ips %}AllowedIPs = {{ peer.allowed_ips | join(', ') if peer.allowed_ips is iterable and peer.allowed_ips is not string else peer.allowed_ips }}
{% endif %}{% if peer.endpoint is defined and peer.endpoint %}Endpoint = {{ peer.endpoint }}
{% endif %}{% if peer.persistent_keepalive is defined %}PersistentKeepalive = {{ peer.persistent_keepalive }}
{% else %}PersistentKeepalive = 25
{% endif %}

{% endfor %}
