# Optional hardware dependencies (GPIO, RFID, LCD).
gpiozero==2.0.1; sys_platform == "linux" and platform_machine in "armv7l,aarch64"
mfrc522==0.0.7; sys_platform == "linux" and platform_machine in "armv7l,aarch64" and python_version < "3.12"
smbus2==0.6.0; sys_platform == "linux" and platform_machine in "armv7l,aarch64"
