{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}

{% block extrahead %}
  {{ block.super }}
  {{ media }}
  <style>
    .send-net-message-fields .module {
      width: 100%;
    }

    .send-net-message-fields .module .form-row {
      align-items: center;
    }

    .send-net-message-fields .module .form-row .flex-container {
      width: 100%;
    }

    .send-net-message-fields .module .form-row .flex-container:not(.checkbox-row) > label {
      min-width: 12rem;
    }

    .send-net-message-submit {
      padding: 0.75rem 2.5rem;
      font-size: 1rem;
    }
  </style>
{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> ›
    <a href="{% url 'admin:app_list' opts.app_label %}">{{ opts.app_config.verbose_name }}</a> ›
    <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a> ›
    {% trans 'Send Net Message' %}
  </div>
{% endblock %}

{% block content %}
  <form method="post" action="">
    {% csrf_token %}
    {{ adminform.form.non_field_errors }}
    <div class="send-net-message-fields">
      {% for fieldset in adminform %}
        {% include "admin/includes/fieldset.html" with heading_level=2 prefix="fieldset" id_prefix=0 id_suffix=forloop.counter0 %}
      {% endfor %}
    </div>
    <div class="submit-row">
      <a href="{% url opts|admin_urlname:'changelist' %}" class="button cancel-link">{% trans 'Cancel' %}</a>
      <button type="submit" class="button default send-net-message-submit">{% trans 'Send message' %}</button>
    </div>
  </form>
{% endblock %}
