{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
  &rsaquo; <a href="{% url 'admin:actions_remoteaction_changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
  &rsaquo; {% trans "My OpenAPI Spec" %}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
  <h1>{% trans "My OpenAPI Spec" %}</h1>
  <p>
    {% trans "Preview the generated OpenAPI file before downloading it." %}
  </p>
  <p class="submit-row">
    <a class="button default" href="{{ download_url }}">{% trans "Download YAML" %}</a>
  </p>
  <pre><code>{{ payload }}</code></pre>
</div>
{% endblock %}
