[Unit]
Description=Celery Beat for {service_name}
After={service_name}.service network-online.target redis.service
Requires={service_name}.service
PartOf={service_name}.service
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory={base_dir}
EnvironmentFile=-{base_dir}/redis.env
EnvironmentFile=-{base_dir}/debug.env
ExecStart={base_dir}/.venv/bin/celery -A config beat -l info
Restart=always
TimeoutStartSec=500
User={service_user}

[Install]
WantedBy=multi-user.target
