{% extends "website/base.html" %}
{% load static %}

{% block title %}CP Simulator{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'ocpp/evcs/cp_simulator.css' %}">
<link rel="stylesheet" href="{% static 'tabs.css' %}">
<script src="{% static 'tabs.js' %}"></script>
{% endblock %}

{% block content %}
<h1>OCPP Charge Point Simulator</h1>
{% if message %}<div class="sim-msg">{{ message }}</div>{% endif %}
<div class="gw-tabs">
  <div class="gw-tabs-bar">
    <div class="gw-tab">Primary CP</div>
    <div class="gw-tab">Secondary CP</div>
  </div>
  <div class="gw-tab-block">
      {% include "ocpp/cp_simulator_block.html" with cp=states.0 idx=1 params_json=params_jsons.0 state_json=state_jsons.0 default_cp_path=default_cp_paths.0 default_vin=default_vins.0 %}
    </div>
    <div class="gw-tab-block">
      {% include "ocpp/cp_simulator_block.html" with cp=states.1 idx=2 params_json=params_jsons.1 state_json=state_jsons.1 default_cp_path=default_cp_paths.1 default_vin=default_vins.1 %}
    </div>
  </div>
{% endblock %}
