{% extends "pages/base.html" %}
{% load i18n %}
{% block title %}{% trans "EV Efficiency Calculator" %}{% endblock %}
{% block content %}
<style>
  #efficiency-calculator input.form-control {
    height: calc(2.25rem + 2px);
  }
</style>
<h1>{% trans "EV Efficiency Calculator" %}</h1>
<form method="post" id="efficiency-calculator">
  {% csrf_token %}
  <div class="row g-4 mb-3">
    <div class="col-lg-3">
      <div class="mb-3">
        <label class="form-label" for="distance">{% trans "Distance (km)" %}</label>
        <input id="distance" type="number" step="0.01" class="form-control" name="distance" required min="0.01" value="{{ form.distance }}" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="energy">{% trans "Energy Used (kWh)" %}</label>
        <input id="energy" type="number" step="0.01" class="form-control" name="energy" required min="0.01" value="{{ form.energy }}" />
      </div>
    </div>
    <div class="col-lg-6 d-flex flex-column{% if result or error %} order-first order-lg-last{% endif %}">
      {% if not result and not error %}
      <div class="mb-3">
        <button type="submit" class="btn btn-primary w-100 fs-4">{% trans "Calculate" %}</button>
      </div>
      {% else %}
        {% if error %}
        <p class="text-danger">{% blocktrans %}Error: {{ error }}{% endblocktrans %}</p>
        {% elif result %}
        <div class="calc-result">
          <h2>{% trans "Calculator Results" %}</h2>
          <table class="table table-sm">
            <tbody>
              <tr><th>{% trans "km per kWh" %}</th><td>{{ result.km_per_kwh|floatformat:2 }}</td></tr>
              <tr><th>{% trans "Wh per km" %}</th><td>{{ result.wh_per_km|floatformat:2 }}</td></tr>
            </tbody>
          </table>
        </div>
        {% endif %}
      <div class="mt-auto mb-3">
        <button type="submit" class="btn btn-primary w-100 fs-4">{% trans "Calculate Again" %}</button>
      </div>
      {% endif %}
    </div>
  </div>
</form>
{% endblock %}
