
<footer class="container mt-5 border-top pt-3">
  <div class="row row-cols-2 row-cols-md-6">
    {% for ref in footer_refs %}
      <div class="col mb-2">
        <a href="{{ ref.value }}">{{ ref.alt_text|default:ref.value }}</a>
      </div>
    {% endfor %}
  </div>
</footer>
<div class="text-center mt-1">
  <small class="text-muted">
    {% if request.user.is_staff and release_url %}
      <a href="{{ release_url }}">{{ release_name }}</a>
    {% else %}
      {{ release_name }}
    {% endif %}
  </small>
</div>
