{% load i18n %}

{% if model_export_url %}
    <li>
        <a href="{{ model_export_url }}?{% if export_querystring %}{{ export_querystring }}&{% endif %}format=json" class="historylink" title="{% trans 'JSON' %}" aria-label="{% trans 'JSON' %}">
            <span aria-hidden="true">{% trans "JSON" %}</span>
            <span class="visually-hidden">{% trans "JSON" %}</span>
        </a>
    </li>
    <li>
        <a href="{{ model_export_url }}?{% if export_querystring %}{{ export_querystring }}&{% endif %}format=csv" class="historylink" title="{% trans 'CSV' %}" aria-label="{% trans 'CSV' %}">
            <span aria-hidden="true">{% trans "CSV" %}</span>
            <span class="visually-hidden">{% trans "CSV" %}</span>
        </a>
    </li>
{% endif %}
{% if model_import_url %}
    <li>
        <a href="{{ model_import_url }}" class="addlink" title="{% trans 'Import' %}" aria-label="{% trans 'Import' %}">
            <span aria-hidden="true">{% trans "IMPORT" %}</span>
            <span class="visually-hidden">{% trans "Import" %}</span>
        </a>
    </li>
{% endif %}
