{% extends "admin/change_form.html" %}
{% load i18n %}

{% block after_field_sets %}
  {{ block.super }}
  {% if take_snapshot_url %}
    <fieldset class="module aligned">
      <div class="form-row">
        <div>
          <button
            type="submit"
            class="button"
            formaction="{{ take_snapshot_url }}"
            formmethod="post"
          >
            {% trans "Take Snapshot" %}
          </button>
        </div>
      </div>
    </fieldset>
  {% endif %}
{% endblock %}
