{% extends "pages/base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row">
  {% if toc %}
  <div class="col-lg-3">
    <nav class="toc">
      <h4>Contents</h4>
      {{ toc|safe }}
    </nav>
  </div>
  {% endif %}
  <div class="{% if toc %}col-lg-9{% else %}col-12{% endif %}">
    {{ content|safe }}
  </div>
</div>
<script>
  (function () {
    const RELOAD_DELAY = 5 * 60 * 1000;
    let timer;
    const resetTimer = () => {
      clearTimeout(timer);
      timer = setTimeout(() => {
        window.location.reload();
      }, RELOAD_DELAY);
    };
    ["click", "mousemove", "keydown", "scroll", "touchstart"].forEach((evt) => {
      document.addEventListener(evt, resetTimer, { passive: true });
    });
    resetTimer();
  })();
</script>
{% endblock %}
