---
- name: Reload NetworkManager connections
  ansible.builtin.command:
    cmd: "{{ network_nmcli_path }} connection reload"
  changed_when: true

- name: Activate ethernet connection
  ansible.builtin.command:
    cmd: "{{ network_nmcli_path }} connection up '{{ network_eth_connection_name }}'"
  register: network_activate_eth
  changed_when: network_activate_eth.rc == 0 and (network_activate_eth.stdout | lower).find("success") != -1
  failed_when: false

- name: Activate Wi-Fi connection
  ansible.builtin.command:
    cmd: "{{ network_nmcli_path }} connection up '{{ network_wifi_connection_name }}'"
  register: network_activate_wifi
  changed_when: network_activate_wifi.rc == 0 and (network_activate_wifi.stdout | lower).find("success") != -1
  failed_when: false

- name: Restart WireGuard interface
  ansible.builtin.service:
    name: "wg-quick@{{ network_constellation_interface }}"
    state: restarted
  listen: Restart WireGuard interface
