{% extends "pages/base.html" %}
{% load i18n %}

{% block title %}{% trans "Games" %} - {{ block.super }}{% endblock %}

{% block content %}
<div class="row">
  {% for game in games %}
  <div class="col-md-4 mb-4">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">{{ game.title }}</h5>
        <p class="card-text">{{ game.description }}</p>
      </div>
      <div class="card-footer">
        {% if game.entry_material %}<a class="btn btn-primary btn-sm" href="{% url 'game:material-detail' game.entry_material.slug %}">{% trans "Start" %}</a>{% endif %}
      </div>
    </div>
  </div>
  {% if forloop.counter|divisibleby:3 %}
</div><div class="row">
  {% endif %}
  {% empty %}
  <p>{% trans "No games available." %}</p>
  {% endfor %}
</div>
{% endblock %}
