name: CI

on:
  push:
  pull_request:
  schedule:
    - cron: '0 2 * * *'

jobs:
  install-and-upgrade:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Install suite from repository
        run: |
          ./install.sh --clean --no-start --no-warn
      - name: Install released suite and upgrade to branch
        env:
          TARGET_BRANCH: ${{ github.head_ref || github.ref_name }}
        run: |
          python -m venv /tmp/pypi-install
          source /tmp/pypi-install/bin/activate
          python -m pip install --upgrade pip
          pip install arthexis
          ./upgrade.sh --branch "$TARGET_BRANCH" --no-start --no-warn
      - name: Run tests
        run: |
          pytest --maxfail=1 --disable-warnings -q
