name: Install latest release

on:
  pull_request:
    paths:
      - '**/migrations/**'
      - '.github/workflows/release-install.yml'
  push:
    paths:
      - '**/migrations/**'
      - '.github/workflows/release-install.yml'

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          clean: false
      - uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      - run: |
          bash install.sh --terminal || true
  upgrade:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v6
        with:
          ref: main
          clean: false
      - uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      - name: Install from main
        run: |
          bash install.sh --terminal || true
      - name: Checkout PR changes
        uses: actions/checkout@v6
        with:
          clean: false
      - name: Upgrade from PR
        run: ./upgrade.sh --local --no-restart
