name: Install latest release

on:
  pull_request:
    paths:
      - '**/migrations/**'
      - '.github/workflows/release-install.yml'
  push:
    paths:
      - '**/migrations/**'
      - '.github/workflows/release-install.yml'

jobs:
  install:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        mode: [terminal, satellite, control, constellation]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      - run: |
          bash install.sh --${{ matrix.mode }} || true
          pip install .
          python manage.py migrate --noinput
