{% load i18n %}
<div class="module pending-operations-widget">
  <h2>{% trans "Pending Operations" %}</h2>
  {% if pending_operations %}
    <ol>
      {% for pending in pending_operations %}
        <li>
          <strong>{{ pending.operation.title }}</strong>
          <a class="button" href="{% url 'admin:ops_operationscreen_start' pending.operation.pk %}">{% trans "Start" %}</a>
        </li>
      {% endfor %}
    </ol>
    {% if pending_count > 3 %}
      <p class="help">{% blocktrans with extra=pending_count|add:"-3" %}And {{ extra }} more pending operations.{% endblocktrans %}</p>
    {% endif %}
  {% else %}
    <p class="help">{% trans "No pending operations." %}</p>
  {% endif %}
</div>
